picOne{
    position: absolute;
    width: 214px;
    height: 131px;
    left: 278px;
    top: 3249px;

    background: #353535;
}
picTwo{
    position: absolute;
    width: 214px;
    height: 131px;
    left: 523px;
    top: 3249px;

    background: #353535;
}
picThree{
    position: absolute;
    width: 214px;
    height: 131px;
    left: 768px;
    top: 3249px;

    background: #353535;
}

picFour{
    position: absolute;
    width: 214px;
    height: 131px;
    left: 278px;
    top: 3407px;

    background: #353535;
}
picFive{
    position: absolute;
    width: 214px;
    height: 131px;
    left: 523px;
    top: 3407px;

    background: #353535;
}
picSix{
    position: absolute;
    width: 214px;
    height: 131px;
    left: 768px;
    top: 3407px;

    background: #353535;
}
.position{
    position: absolute;
    width: 704px;
    height: 314px;
    left: 276px;
    top: 2981px;

}
.positionExtra{
    position: absolute;
    width: 704px;
    height: 314px;
    left: 276px;
    top: 4000px;

}
.header{
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;

    color: #FFF598;

}
.body
{
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;

    color: white;

}


mainPic{
    position: absolute;
    width: 704px;
    height: 193px;
    left: 276px;
    top: 2752px;

    background: #353535;
}

h1{
   position: absolute;
    width: 293px;
    height: 72px;
    left: 276px;
    top: 2596px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
   /* identical to box height */
    
    
    color:#FFF598;
}
hr{
    position:absolute;
    width: 4947.02px;
    height: 0px;
    left:-2320px;
    top: 2000px;

    border: 3px solid #AFAFAF;
    transform: matrix(0, -1, 1, 0, 0, 0);
}
.dotOne{
    position: absolute;
    width: 28.6px;
    height: 28.6px;
    left: 143px;
    top: 2649.4px;
    border-radius: 50%;
    background: #C4C4C4;
}

.dotTwo{
    position: absolute;
    width: 28.6px;
    height: 28.6px;
    left: 143px;
    top: 3683.4px;
    border-radius: 50%;
    background: #C4C4C4;
}